<h1>Form de upload</h1>

<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <input type="button" value="upload">
    <button type="submit">Enviar</button>
</form>